OOP_1/.idea
OOP_1/cmake-build-debug
OOP_1/cmake-build-release
OOP_1/lab01_input_correct_09.ini
OOP_1/logger.txt
OOP_2/logger.txt
OOP_2/.idea
OOP_2/cmake-build-debug
OOP_2/cmake-build-release
OOP_3/logger.txt
OOP_3/.idea
OOP_3/cmake-build-debug
OOP_3/cmake-build-release
OOP_3/*.wav
OOP_3/wav_core.cpp
OOP_3/wav_core.h

OOP_dop_1/logger.txt
OOP_dop_1/.idea
OOP_dop_1/cmake-build-debug
OOP_dop_1/cmake-build-release

OOP_4_and_5/.idea
OOP_4_and_5/cmake-build-debug
OOP_4_and_5/cmake-build-release
